* {
  box-sizing: border-box;
}
body{
  background-color: #060708;
}

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .column img {
    margin-top: 12px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }



#favcolortext {
  text-align: center;
  padding: 8px;
  font-size: 8px;
  color: #ffffdc;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.8;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  letter-spacing: 0.8px;
  font-weight: 10px;
  word-spacing: 5px;
  border-radius: 5px;
     background-color: #13a1c6;
     box-shadow: 0 0 5px 2px black;
    height: 1130px;
    width: 40%;
    border: 0.5px solid #13a1c6;
    border-radius: 5px;
    overflow:visible ;
    float: left;
    padding-left: 0.5%;
    padding-top: 1%;
}


#photograid {
    float: right;
    width:30%;
    padding-right: 0.5%;

}

#pageup
{
 
    display: inline-block;
    padding-top: 7%;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    /* position: absolute; */

}

.imgshadow
{
  box-shadow: 4px 4px 4px 4px #1f1c1a;
}


#submit{
    border-radius: 20px;
    background-color: #13a1c6;
    background: white;
}
h1{
  text-align: center;
  padding: 20px;
  font-size: 40px;
  color: #ffffdc;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.8;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  letter-spacing: 0.8px;
  font-weight: 10px;
  word-spacing: 5px;
}
fieldset
{
    width: 100%;
    border-radius:50px ;
    
}
#userColor{
  padding-top: 50px;
}
#theForm{
    text-align: center;
    border-radius: 5px;
    /* background: rgb(202, 197, 197); */
    border-radius: 5px;
background-color: #13a1c6;
box-shadow: 0 0 5px 2px black;

    width: 30%;
    height: 300px;
    padding-top: 30px;
    margin-left: 35%;
    border-radius: 60px;
    font-size: larger;
  
}   

section #favColorResult p{
  text-align: center;
  padding: 8px;
  font-size: 40px;
  color: #ffffdc;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.8;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  letter-spacing: 0.65px;
  font-weight: 10px;
  word-spacing: 5px;
  border-radius: 5px;
     background-color: #13a1c6;
     box-shadow: 0 0 5px 2px black;
 
    width: 40%;
    height: 630px;
    padding-top: 20px;
    margin-left: 30%;
    border-radius: 60px;
    margin-bottom:30px ;

}

#theForm section{
  margin: 10px;
}
#theForm fieldset{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}
#theForm #submit{
  width: 30%;
}
#theForm {
  margin-bottom: 20px;
}