header {
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: #2a6798;
    /* margin-left: 2.5%; */
    /* border-radius: 30px; */
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1000;
    border-bottom: #f41e5d solid 5px;
    box-shadow: 0 0 10px 2px black;
    /* background-image: linear-gradient(to bottom, #cca69d
    , #cca69dad); */

    /* box-shadow: #ee99a0  3px 8px  ; */
}
header li{
    color: #060708 !important;

}
body{
    background-image: #f6f5f5;
    overflow-x: hidden;
}

nav ul {
    display: inline-block;
}

#logo {
    float: left;
    padding-left: 70px;
}

#logo li a img {
    border-radius: 30px;
    box-shadow: 0 0 5px 1px #060708;
}

#pages-links {
    padding-top: 30px;
    padding-left: 17%;
}

#pages-links li {
    display: inline-block;
    padding-left: 30px;
}

#pages-links li a {
    /* color: #3f1108; */
    color: #d3e0ea;
    text-decoration: none;
    font-size: 23px;
    font-weight: bolder;

}
#pages-links li a:hover{
    color: #060708;

}

#search-text-input{
    border-top:thin solid  #e5e5e5;
    border-right:thin solid #e5e5e5;
    border-bottom:0;
    border-left:thin solid  #e5e5e5;
    box-shadow:0px 1px 1px 1px #e5e5e5;
    float:left;
    height:22px;
    margin:.8em 0 0 .5em; 
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:120px; 
   
  }
  
  #button-holder{
    background-color: #e5e5e5;
    border-top:thin  #e5e5e5;
    box-shadow:1px 1px 1px 1px #e5e5e5;
    cursor:pointer;
    float:left;
    height:20px;
    margin:11px 0 0 0;
    text-align:center;
    width:20px;
   
  }
  
  #button-holder img{
    margin:4px;
    width:15px; 
    height:15px ;
  }
#search-language {
    padding-top: 20px;
    float: right;
    padding-left: 180px;
    padding-right: 2px;
    z-index: 2000;
    position: absolute;

}

#search-language li {
    display: inline-block;
    padding-left: 30px;
}

main {
    padding-top: 100px;
}

ul li a i:first-child {
    font-size: 30px; 
    color : rgb(0, 8, 10);
    /* text-shadow: 2px 2px 4px #000000; */
}

footer {
    background-color: #2a6798;
    border-top: #f41e5d solid 5px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer div ul {
    display: inline-block;
}

#logo-footer {
    float: left;
    padding-left: 70px;
}

#logo-footer li a img {
    border-radius: 30px;
    box-shadow: 0 0 5px 1px black;
}

#pages-links-footer {
    padding-bottom: 5px;
    padding-left: 23%;
}

#pages-links-footer li {
    display: inline-block;
    padding-left: 30px;
}

#pages-links-footer li a {
    text-decoration: none;
    color: #d3e0ea;
    
}

#pages-links-footer li a:hover{
    color: #060708;
}
#social-icons {
    padding-bottom: 10px;
    float: right;
    padding-right: 50px;
}

#social-icons li {
    display: inline-block;
    padding-left: 5px;
}
#social-icons li:hover{
    color: white;
}

#copy-rights {
    float: left;
    padding-left: 70px;
    padding-top: 5px;
    padding-bottom: 20px;
}
