header {
    position: fixed;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: white;
    /* margin-left: 2.5%; */
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    z-index: 1000;
    background-image: linear-gradient(to bottom, #cca69d
    , #cca69dad);
    box-shadow: rgba(248, 176, 81, 0.418)  3px 8px  ;
}
body{
    background-image: linear-gradient(to bottom, #3f1108
    , #3f1108a4);
    overflow-x: hidden;
}

nav ul {
    display: inline-block;
}

#logo {
    float: left;
    padding-left: 70px;
}

#logo li a img {
    border-radius: 30px;
}

#pages-links {
    padding-top: 30px;
    padding-left: 17%;
}

#pages-links li {
    display: inline-block;
    padding-left: 30px;
}

#pages-links li a {
    color: #3f1108;
    text-decoration: none;
    font-size: 23px;
    font-weight: bolder;
}
#search-text-input{
    border-top:thin solid  #e5e5e5;
    border-right:thin solid #e5e5e5;
    border-bottom:0;
    border-left:thin solid  #e5e5e5;
    box-shadow:0px 1px 1px 1px #e5e5e5;
    float:left;
    height:22px;
    margin:.8em 0 0 .5em; 
    outline:0;
    padding:.4em 0 .4em .6em; 
    width:120px; 
   
  }
  
  #button-holder{
    background-color: #e5e5e5;
    border-top:thin  #e5e5e5;
    box-shadow:1px 1px 1px 1px #e5e5e5;
    cursor:pointer;
    float:left;
    height:20px;
    margin:11px 0 0 0;
    text-align:center;
    width:20px;
   
  }
  
  #button-holder img{
    margin:4px;
    width:15px; 
    height:15px ;
  }
#search-language {
    padding-top: 20px;
    float: right;
    padding-left: 180px;
    padding-right: 2px;
    z-index: 2000;
    position: absolute;

}

#search-language li {
    display: inline-block;
    padding-left: 30px;
}

main {
    padding-top: 160px;
}

ul li a i:first-child {
    font-size: 30px; 
    color : rgb(0, 8, 10);
    /* text-shadow: 2px 2px 4px #000000; */
}

footer {
    /* position: fixed; */
    /* height: 90px; */
    /* bottom: 20px; */
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer div ul {
    display: inline-block;
}

#logo-footer {
    float: left;
    padding-left: 70px;
}

#logo-footer li a img {
    border-radius: 30px;
    /* padding-top: 5px; */
}

#pages-links-footer {
    padding-bottom: 5px;
    padding-left: 20%;
}

#pages-links-footer li {
    display: inline-block;
    padding-left: 30px;
}

#pages-links-footer li a {
    text-decoration: none;
}

#social-icons {
    padding-bottom: 10px;
    float: right;
    padding-right: 20px;
}

#social-icons li {
    display: inline-block;
    padding-left: 5px;
}

#copy-rights {
    float: left;
    padding-left: 70px;
    padding-top: 5px;
    padding-bottom: 20px;
}
