*{
    box-sizing: border-box;
  }
/* img */
body{
  background-color: #13a1c6;
}

#glassy {
	width: 50%;
	height: 300px;
	 position: fixed; 
   margin: 0 auto;
	top: 80px; 
    position: relative;
	background-image: url(../img/oodstone.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
    border-radius:10px 10px 10px 10px;
    /* background-attachment: fixed;  */
    /* background-size: cover; */
    display: grid;
    align-items: center;
    justify-content: center;
    height: 60vh;
}



.painting {
  text-align: center;
    color: #ffffdc;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1;
  font-family: 'Roboto Slab', serif;
    letter-spacing: 0.3px;
  font-weight: 10px;
  word-spacing: 5px;
  font-weight: bolder;
    width: 43rem;
    height: 25rem;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: inherit;
    overflow: hidden;
  }
  
  .painting:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(2px);
    margin: -20px;
  }
  .painting h3{
  text-align: center;
  padding: 10%;
  font-size: 25px;
  font-family: poppins;
  text-transform: uppercase;
  color: rgb(23, 24, 24);
}
  .img-column {
    float: left;
    width: 40%;
    padding: 10px;
    height: 120px;
  }
  .desc-column {
    float: left;
    width: 60%;
    padding: 10px;
    height: 120px;
  }
  .row{
    width: 50%;
    margin-left: 25%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row img{
    width: 100px;
    height: 100px;  
  }
  .row img:hover{
    transform: scale(2.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
  .item-title{
    display: inline;
  }
  
  
  .add-to-cart-btn{
    border-radius: 20px;
    border-color:rgba(250, 170, 170, 0.411) 5px 5px 5px 5px;
    color: rgb(70, 49, 69);
    background: rgba(250, 170, 170, 0.411);
    font-weight: bold;
    margin: 2px;
  }
  
  .qty-field{
    width:40px;
  }
  .hed{
      text-align: center;
      font-size: xx-large;
      font-weight: bold;
      /* border: 5px solid rgba(250, 170, 170, 0.411);
      box-shadow: rgba(250, 170, 170, 0.411) 5px 5px 5px 5px; */
      padding-bottom: 10px;
    }
    #Cart{
      text-align: center;
      margin: 0 auto;
      width: 50%;
      margin-bottom: 10px;
    }
    #products{
      border: 3px solid black;
      margin-top: 150px;
    }
    #check{
      border-radius: 20px;
      /* border-color:rgba(250, 170, 170, 0.411) 5px 5px 5px 5px; */
      color: rgb(70, 49, 69);
      /* background: rgba(250, 170, 170, 0.411); */
      font-weight: bold;
      margin: 2px;
      text-align: center;
    }

